[Unit]
Description=Ascend k8s device plugin
Documentation=https://www.hiascend.com

[Service]
ExecStart=/bin/bash -c "/usr/local/bin/device-plugin -volcanoType=true -logFile=/var/log/mindx-dl/devicePlugin/devicePlugin.log>/dev/null 2>&1 &"
Restart=always
RestartSec=2
KillMode=process
Environment="LD_LIBRARY_PATH=/usr/local/kmc"
Environment="GOGC=50"
Environment="GOMAXPROCS=2"
Environment="GODEBUG=madvdontneed=1"
Type=forking


[Install]
WantedBy=multi-user.target