[Unit]
Description=Ascend npu exporter
Documentation=https://www.hiascend.com

[Service]
ExecStart=/bin/bash -c "/usr/local/bin/npu-exporter -ip=127.0.0.1  -port=8082 -logFile=/var/log/mindx-dl/npu-exporter/npu-exporter.log>/dev/null 2>&1 &"
Restart=always
RestartSec=2
KillMode=process
Environment="LD_LIBRARY_PATH=/usr/local/kmc"
Environment="GOGC=50"
Environment="GOMAXPROCS=2"
Environment="GODEBUG=madvdontneed=1"
Type=forking
User=hwMindX
Group=hwMindX

[Install]
WantedBy=multi-user.target