[Unit]
Description=Ascend npu exporter
Documentation=hiascend.com

[Service]
ExecStart=/bin/bash -c "/usr/local/bin/npu-exporter -ip=127.0.0.1  -port=8082 -logFile=/var/log/mindx-dl/npu-exporter/npu-exporter.log &"
Restart=3
RestartSec=2
KillMode=process
Environment="LD_LIBRARY_PATH=/usr/local/kmc"
Type=forking


[Install]
WantedBy=multi-user.target